@media all and (max-width: 1280px) {
  section {
    width: 100%;
    margin: 0 auto;
  }
  footer {
    width:100%;
    .left {
      width: 100%;
    }
    .right {
      width: 100%;
    }
  }
}
@media all and (max-width: 640px) {


  /* At this point start making the text smaller for mobile */
  header {
    .main-logo {
      width: 206px;
      height: 220px;
      background-size: 206px 220px;
      margin-bottom: 40px;
    }
    nav {
      .small-logo {
        display: none;
      }
      ul {
        width: 100%;
        margin-right: 0;
        li {
          margin: 0;
          display: block;
          float: none;
          margin-bottom: 20px;
          &.buy {
            text-align: center;
          }
        }
      }
    }
    h2 {
      font-size: 25px;
      line-height: 38px;
    }
    p {
      font-size: 12px;
    }
  }
}
